<mat-list-item>
  <span>{{ activity.title }}</span>
  <span class="fill-remaining-space"></span>

  <span>{{ totalTimeFormated() }}</span>
  <mat-icon aria-hidden="false" aria-label="In progress" *ngIf="activity.isInProgress()">play_arrow</mat-icon>
  <button mat-button (click)="onStart()" *ngIf="!activity.isInProgress()">
    Start
  </button>
  <button mat-button (click)="onStop()" *ngIf="activity.isInProgress()">
    Stop
  </button>
	<button mat-icon-button (click)="onEditActivity()">
    <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
  </button>
</mat-list-item>