<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" class="margin-right">timer</mat-icon>
  <span>Logme</span>
  
  <span class="fill-remaining-space"></span>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item *ngFor="let type of activityTypes" (click)="onAddActivity(type)">{{type.name}}</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="appMenu" *ngIf="activityTypes.length > 0">Add</button>
  <button mat-button>Report</button>
  <button mat-button>Reset</button>
  <button mat-icon-button (click)="onImportExportClick()">
    <mat-icon aria-hidden="false" aria-label="Import export">import_export</mat-icon>
  </button>
  <button mat-icon-button (click)="onOpenSettings()">
    <mat-icon aria-hidden="false" aria-label="Settings">settings</mat-icon>
  </button>
</mat-toolbar>

<app-summary-bar [activities]="activities"></app-summary-bar>

<mat-accordion multi="true">
  <app-activity-list *ngFor="let type of activityTypes" [type]="type">
  </app-activity-list>
</mat-accordion>


<router-outlet></router-outlet>
