<h1 mat-dialog-title>Settings</h1>

<div mat-dialog-content>

  <mat-tab-group>

    <mat-tab label="Activity types">
      <mat-list dense>
        <span mat-subheader>
          <button mat-icon-button color="primary" (click)="onAddType()">
            <mat-icon aria-hidden="false" aria-label="Add type">add</mat-icon>
          </button>
        </span>
        <mat-list-item *ngFor="let type of types">
          <input matInput placeholder="type name" [(ngModel)]="type.name">
          <span class="fill-remaining-space"></span>
          <button mat-icon-button (click)="onDownType(type)">
            <mat-icon aria-hidden="false" aria-label="Move down">arrow_drop_down</mat-icon>
          </button>
          <button mat-icon-button (click)="onUpType(type)">
            <mat-icon aria-hidden="false" aria-label="Move up">arrow_drop_up</mat-icon>
          </button>
          <button mat-icon-button (click)="onRemoveType(type)">
            <mat-icon aria-hidden="false" aria-label="Remove">close</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>


    <mat-tab label="Report">
      <div class="big-margin-top">
        <mat-form-field class="big-margin-right">
          <input matInput placeholder="User name" [(ngModel)]="settings.userName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sprint" [(ngModel)]="settings.sprint">
        </mat-form-field>
      </div>
      <div class="flex-div">
        <mat-form-field class="fill-remaining-space">
          <mat-label>Time format</mat-label>
          <mat-select [(ngModel)]="settings.timeFormat" >
            <mat-option value="hours">
              Hours (7.5h)
            </mat-option>
            <mat-option value="hours-minutes">
              Hours and minutes (7:30)
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>

<div mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="onCancelClick()" cdkFocusInitial>Cancel</button>
  <button mat-button (click)="onSaveClick()" color="primary">Save</button>
</div>