<h1 mat-dialog-title>Edit activity</h1>

<div mat-dialog-content>
  <div>
  	<mat-form-field class="big-margin-right">
    	<input matInput placeholder="Title" [(ngModel)]="data.activity.title">
  	</mat-form-field>
  	<mat-form-field>
    	<input matInput placeholder="Type" [(ngModel)]="data.activity.type.name" disabled>
  	</mat-form-field>
  </div>

	<mat-list dense>
	  <span mat-subheader>
      Logs
      <button mat-icon-button (click)="onAddLog()">
        <mat-icon aria-hidden="false" aria-label="Add log">add</mat-icon>
      </button>
    </span>
	  
    <mat-list-item *ngFor="let log of data.activity.logs">
      <mat-form-field class="big-margin-right">
        <input matInput placeholder="Start date" [owlDateTime]="dts" [owlDateTimeTrigger]="dts"  [(ngModel)]="log.startDate">
        <owl-date-time #dts></owl-date-time>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="End date" [owlDateTime]="dte" [owlDateTimeTrigger]="dte"  [(ngModel)]="log.endDate">
        <owl-date-time #dte></owl-date-time>
      </mat-form-field>
	  </mat-list-item>

	</mat-list>

</div>

<div mat-dialog-actions>
  <!-- 
    TODO: Fix buttons colors
  -->
  <button mat-button (click)="onDeleteClick()" color="warn">Delete</button>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="onCancelClick()" cdkFocusInitial>Cancel</button>
  <button mat-button (click)="onSaveClick()" color="primary">Save</button>
</div>